<!DOCTYPE html>
<html>
<head>
  <title>Reclamos</title>
  <link rel="stylesheet" type="text/css" href="/css/complaint.css">
</head>
<body>
  <form  id="reclamo-form" action="/reclamo" method="post">
    <p>Escriba su reclamo o queja.</p>
    <div class="description-container">
      <textarea type="text" id="description" name="description"></textarea>
    </div>
    <button class="button-class" id="ok-button" type="button" onclick="showMsg()">Enviar</button>
    <script>
      function showMsg() {
        var description = document.getElementById("description").value;
        if (description.trim() == "") {
          window.alert("Por favor, ingrese su reclamo."); // muestra un mensaje diciendo que no hay reclamo
        } else {
          var confirmation = window.confirm("Su reclamo será enviado exitosamente.")
          if (confirmation) {
            document.getElementById("reclamo-form").submit(); // envia el formulario con el reclamo
          }
        }
      } 
    </script>
  </form>
</body>
</html>