<!DOCTYPE html>
<html>
<head>
  <title>Trivia | Inicio</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <img src="https://www.redeweb.com/wp-content/uploads/2021/03/software-1.jpg" class="image-container">
  <h1>¡Te damos la bienvenida a la TRIVIA!</h1>
  <h2>Temática: Software y Tecnología</h2>
  <h3>¿Estás listo/a para comenzar?</h3>
  <div class="button-container">
    <form action="/login" method="GET">
      <button type="submit">Iniciar sesión</button>
    </form>
    <form action="/registrarse" method="GET">
      <button type="submit">Registrarse</button>
    </form>
  </div>
</body>
</html>
