<!DOCTYPE html>
<html>
<head>
  <title>Aprende a jugar</title>
  <link rel="stylesheet" type="text/css" href="/css/learnToGame.css">
</head>
<body>
  <h1>Ésta es una sección de ayuda para que aprendas a realizar la trivia.</h1>
  <h2>Lee atentamente los siguientes puntos. Se describe lo que realiza cada botón de la página principal.</h2>
  <ol>
    <li>
      El botón <button>Aprende a jugar</button> te conduce a ésta misma página. Es una guía para que sepas como jugar.</li>
    <li>
      El botón <button>Principiante</button> te conduce a jugar a la trivia en una dificultad principiante o fácil.
      <ul>
        <li>
          Deberás responder 10 preguntas. Éstas preguntas son de tipo: multiple opciones, verdadero - falso y autocompletadas.
        </li>
        <li>
          Cada pregunta tiene un tiempo de 35 segundos para responderla.
        </li>
        <li>
          En ésta dificultad verás un botón llamado "¿Necesita una ayudita?", donde al darle clic se muestra una ayuda para contestar la pregunta. 
        </li>
      </ul>
    </li>
    <li>
      El botón <button>Experto</button> te conduce a jugar a la trivia en una dificultad experta o difícil.
      <ul>
        <li>
          Deberás responder 10 preguntas. Éstas preguntas son de tipo: multiple opciones, verdadero - falso y autocompletadas.
        </li>
        <li>
          Cada pregunta tiene un tiempo de 20 segundos para responderla.
        </li>
        <li>
          En ésta dificultad no hay una ayuda para responder las preguntas.
        </li>
      </ul>
    </li>
    <li>
      El botón <button>Hacer un reclamo</button> te conduce a una página donde podrás escribir un reclamo o queja con respecto a la aplicación web.
      Nosotros recibiremos el reclamo y le daremos una solución si es necesario.
    </li>
    <li>
      El botón <button>Cerrar sesión</button> cierra tu sesión de usuario.
    </li>
  </ol>
  <form action="/protected_page" method="get">
    <button type="submit">Salir</button>
  </form>
</body>
</html>
